% Please keep it in alphabetical order.
{deps, [
  {changeset, { git
              , "https://github.com/williamthome/changeset"
              , {branch, "main"}} }
]}.

{erl_opts, [debug_info]}.

{profiles, [
  {dev, [
    {deps, [
      % Used by $ make daemon
      {sync, ".*", { git
                   , "https://github.com/rustyio/sync.git"
                   , {branch, "master"}} }
    ]}
  ]},
  {prod, [
    {erl_opts, [
      no_debug_info,
      warnings_as_errors
    ]},
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]},
  {test, [
    {config, "config/test.sys.config"}
  ]}
]}.

{relx, [
  {dev_mode, true},
  {include_erts, false}
]}.

{shell, [
  {apps, [ebank]},
  {config, "config/sys.config"}
]}.
