[{ebank, [
    {db, #{
        adapter => ebank_db_adapter_mnesia,
        args => #{
            dir => "/tmp/ebank_db",
            persist => {true, 180_000} % 3 minutes
        }
    }},
    {dsl, #{
        adapter => ebank_dsl_adapter_mnesia
    }},
    {models, [
        ebank_account
    ]}
]}].
